@model BlogViewModel

<div class="text-center mt-10">
    <h2 class="text-[33px] text-black mb-3">Career Insights and Business Trends</h2>
    <span>Explore valuable tips on career growth, hiring strategies, and financial planning. Stay ahead with insights
        tailored for professionals and job seekers alike.</span>
</div>

<div class="divider my-[35px]"></div>

<div class="flex flex-row gap-6 items-stretch my-[55px]">
    <div class="w-1/2">
        <div class="flex flex-col w-full gap-6">
            <div class="h-full">
                <div class="flex flex-row gap-6 h-full">
                    @foreach (var blog in Model.Blogs.Take(2)) // İlk 2 blog
                    {
                        <a asp-controller="Blogs" asp-action="Details" asp-route-id="@blog.Id"
                            class="shadow-lg rounded-md flex flex-col h-full">
                            <div class="relative h-80">
                                <img src="@Url.Content(blog.BlogImage)" alt="@blog.Title"
                                    class="rounded-md w-full h-full object-cover object-top">
                                <span
                                    class="absolute text-sm font-medium bottom-0 left-0 text-white p-4 bg-black bg-opacity-50 w-full text-center rounded-b-md">
                                    @blog.Title
                                </span>
                            </div>
                        </a>
                    }
                </div>
            </div>
            <div class="h-full">
                @foreach (var blog in Model.Blogs.Skip(2).Take(1)) // 3. blog
                {
                    <a asp-controller="Blogs" asp-action="Details" asp-route-id="@blog.Id"
                        class="shadow-lg rounded-md flex flex-col h-full">
                        <div class="relative">
                            <img src="@Url.Content(blog.BlogImage)" alt="@blog.Title" class="rounded-md">
                            <span
                                class="absolute text-sm font-medium bottom-0 left-0 text-white p-4 bg-black bg-opacity-50 w-full text-center rounded-b-md">
                                @blog.Title
                            </span>
                        </div>
                    </a>
                }
            </div>
        </div>
    </div>

    <div class="w-1/2">
        @foreach (var blog in Model.Blogs.Skip(3).Take(1)) // 4. blog
        {
            <a asp-controller="Blogs" asp-action="Details" asp-route-id="@blog.Id"
                class="shadow-lg rounded-md flex flex-col h-full">
                <div class="relative h-full">
                    <img src="@Url.Content(blog.BlogImage)" alt="@blog.Title"
                        class="rounded-md w-full h-full object-cover object-top">
                    <span
                        class="absolute text-sm font-medium bottom-0 left-0 text-white p-4 bg-black bg-opacity-50 w-full text-center rounded-b-md">
                        @blog.Title
                    </span>
                </div>
            </a>
        }
    </div>
</div>

<div class="mt-[110px]">
    <div class="text-center">
        <h2 class="text-[33px] text-black">New Blogs</h2>
        <div class="divider w-[330px] mx-auto before:bg-black after:bg-black"></div>
    </div>

    <div class="grid xl:grid-cols-4 lg:grid-cols-3 md:grid-cols-2 gap-6 my-[55px]">

        @foreach (var blog in Model.Blogs)
        {
            <a asp-controller="Blogs" asp-action="Details" asp-route-id="@blog.Id" ont
                class="shadow-lg rounded-md p-5 flex flex-col h-full">
                <div class="relative mb-3">
                    <img src="@Url.Content(blog.BlogImage)" alt="@blog.Title" class="rounded-md">

                    <span
                        class="absolute text-sm font-medium bottom-0 left-0 text-white px-3 py-[3px] bg-black bg-opacity-50 w-full text-center rounded-b-md">
                        @blog.Category?.Name
                    </span>
                </div>
                <div class="mb-5">
                    <h5 class="font-medium text-[14px]">@blog.Title</h5>
                </div>
                <div class="flex justify-between mt-auto">
                    <span href="#" class="text-[14px]">@blog.User?.FullName</span>
                    <span class="text-xs text-gray-500">@blog.CreatedDate.ToString("dd.MM.yyyyy")</span>
                </div>
            </a>
        }
    </div>

</div>
