@model IEnumerable<Job>

<div class="flex justify-between items-center mt-5">
    <h2>Jobs List</h2>
    <a asp-controller="AdminJobs" asp-action="Create"
        class="btn bg-[#230939] hover:bg-[#230939] text-white hover:text-white">Add Job</a>
</div>

<div class="divider my-5"></div>

<div class="mb-20">
    <table class="table text-center">
        <!-- head -->
        <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Company Name</th>
                <th>Location</th>
                <th>Remote Option</th>
                <th>Is Active</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var job in Model)
            {
                <tr>
                    <th>@job.Id</th>
                    <td>@job.Title</td>
                    <td>@job.Employer?.CompanyName</td>
                    <td>@job.Location</td>
                    <td>@job.RemoteOption?.Name</td>
                    <td>@(job.IsActive ? "Active" : "Deactive")</td>
                    <td>
                        <a asp-controller="AdminJobs" asp-action="Edit" asp-route-id="@job.Id"
                            class="btn btn-sm btn-warning">Edit</a>
                        <button class="btn btn-sm btn-error" onclick="my_modal_@(job.Id).showModal()">
                            Delete
                        </button>

                    </td>
                </tr>
                @await Html.PartialAsync("_Delete", job)
            }
        </tbody>
    </table>
</div>