@model IEnumerable<Blog>

<div class="flex justify-between items-center mt-5">
    <h2>Blogs List</h2>
    <a asp-controller="AdminBlogs" asp-action="Create"
        class="btn bg-[#230939] hover:bg-[#230939] text-white hover:text-white">Add Blog</a>
</div>

<div class="divider my-5"></div>

<div class="mb-20">
    <table class="table text-center">
        <!-- head -->
        <thead>
            <tr>
                <th>#</th>
                <th>Title</th>
                <th>Category</th>
                <th>Author</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var blog in Model)
            {
                <tr>
                    <td>@blog.Id</td>
                    <td>@blog.Title</td>
                    <td>@blog.Category?.Name</td>
                    <td>@blog.User?.FullName</td>
                    <td>
                        <a asp-controller="AdminBlogs" asp-action="Edit" asp-route-id="@blog.Id"
                            class="btn btn-sm btn-warning">Edit</a>
                        <button class="btn btn-sm btn-error" onclick="my_modal_@(blog.Id).showModal()">
                            Delete
                        </button>

                    </td>
                </tr>
                @await Html.PartialAsync("_Delete", blog)
            }
        </tbody>
    </table>
</div>