@model Job
<div class="hero bg-base-200 min-h-screen">
  <div class="hero-content text-center">
    <div class="max-w-md">
      <h1 class="text-5xl font-bold">@Model.Title</h1>
      <p class="py-6">
        @Model.Description
      </p>
      <p class="py-6">
        @(Model.Category?.Name)
      </p>

      <p class="py-6">
        @(Model.JobType?.Type)
      </p>

      <p class="py-6">
        @Model.Location
      </p>
      <p class="py-6">
        @Model.SalaryRange
      </p>

      <button class="btn btn-primary">Get Started</button>
    </div>
  </div>
</div>