@model JobViewModel

@section FullWidthImage {
  <img src="~/img/job/1.webp" alt="" class="w-full h-[50vh] object-cover object-top">
}

<div class="flex lg:flex-row flex-col gap-20 mb-20">
  <div class="lg:w-3/5 w-full my-5">
    <h2 class="flex items-center text-[32px] font-medium">
      @Model.Job.Category?.Name
      <span class="text-[30px] ml-2">(@Model.Job.Title)</span>

    </h2>

    <div class="flex gap-6 my-5">
      <p>
        <i class="fas fa-building mr-1"></i>
        @Model.Job.Employer?.CompanyName
      </p>
      <p>
        <i class="fa-regular fa-clock mr-1"></i>
        @Model.Job.JobType?.Type
      </p>
      <p>
        <i class="fa-regular fa-building mr-1"></i>
        @Model.Job.RemoteOption?.Name
      </p>
      <p>
        <i class="fa-solid fa-location-dot mr-1"></i>
        @Model.Job.City?.Name
      </p>
    </div>

    <div class="divider"></div>

    <div class="">
      <h2 class="text-xl font-medium text-gray-800 mb-3">About the Job Posting</h2>
      <span class="text-gray-700">Would you like to work with us? Our recruitment process is always ongoing! We are
        looking for qualified candidates for various departments. You can share your skills and experiences to get to
        know us better.</span>

      <h2 class="text-md font-medium text-gray-800 mt-5 mb-3">Qualifications We Are Looking For:</h2>
      <ul class="text-gray-700 list-disc pl-5 space-y-2">
        <li>Relevant education or experience in the field</li>
        <li>Strong communication skills</li>
        <li>Ability to work effectively in a team</li>
        <li>Problem-solving and analytical thinking abilities</li>
      </ul>

      <h2 class="text-md font-medium text-gray-800 mt-5 mb-3">Application Process:</h2>
      <ul class="text-gray-700 list-disc pl-5 space-y-2">
        <li>This posting is not for a specific position but is created for general applications.</li>
        <li>After evaluating your application, we will contact you when a suitable position becomes available.</li>
        <li>Please attach your CV and a cover letter introducing yourself.</li>
      </ul>
    </div>

  </div>

  <div class="lg:w-2/5 w-full">
    <div class="mt-16 p-5 rounded-sm shadow-lg">
      <h2 class="text-lg font-medium text-gray-800">Apply Now</h2>
      <p class="text-gray-700 my-3">Fill out the form to apply for the active job posting and start your recruitment
        process.</p>
      @if (User.Identity!.IsAuthenticated)
      {
        @if (TempData["ErrorMessage"] != null)
        {
          <div class="text-red-500">
            <i class="fa-solid fa-circle-exclamation"></i>
            @TempData["ErrorMessage"]
          </div>
        }
        <form asp-controller="Application" asp-action="Create" method="post">
          <input type="hidden" name="jobId" value="@Model.Job.Id">
          <div class="flex flex-col gap-5 mt-10">
            <label class="input input-bordered flex items-center gap-2 shadow-md">
              <i class="fa-solid fa-user"></i>
              <input asp-for="@Model.User.FirstName" type="text" class="grow" placeholder="First Name" />
            </label>

            <label class="input input-bordered flex items-center gap-2 shadow-md">
              <i class="fa-solid fa-user"></i>
              <input asp-for="@Model.User.LastName" type="text" class="grow" placeholder="Last Name" />
            </label>

            <label class="input input-bordered flex items-center gap-2 shadow-md">
              <i class="fa-solid fa-envelope"></i>
              <input asp-for="@Model.User.Email" type="email" class="grow" placeholder="Email" />
            </label>

            <label class="input input-bordered flex items-center gap-2 shadow-md">
              <i class="fa-solid fa-mobile-screen"></i>
              <input asp-for="@Model.User.PhoneNumber" type="phone" class="grow" placeholder="Phone" />
            </label>

            <label class="input input-bordered flex items-center gap-2 shadow-md">
              <i class="fa-solid fa-location-dot"></i>
              <input type="address" class="grow" placeholder="Location" />
            </label>

            <label class="input input-bordered flex items-center gap-2">
              <i class="fa-solid fa-turkish-lira-sign"></i>
              <input type="text" class="grow" placeholder="Turkish Lira" />
              <span>Monthly</span>
            </label>

            <label for="reason" class="block text-sm font-medium text-gray-700">
              Upload your CV
            </label>
            <input asp-for="@Model.User.ResumeUrl" type="file"
              class="block w-full text-sm text-gray-500 file:mr-4 file:py-2 file:px-4 file:rounded file:border file:bg-gray-100 file:text-gray-700 hover:file:bg-gray-200" />

            <label for="reason" class="block text-sm font-medium text-gray-700">
              Cover Letter
            </label>
            <textarea class="textarea textarea-bordered" placeholder="Cover Letter"></textarea>
            @if (ViewBag.isApplication != null && (bool)ViewBag.isApplication)
            {
              <button class="btn bg-[#B561B0] hover:bg-[#B561B0] text-white" disabled>Applied</button>
            }
            else
            {
              <button class="btn bg-[#B561B0] hover:bg-[#B561B0] text-white">Apply Now</button>
            }
          </div>
        </form>
      }
      else
      {
        <form>
          <div class="flex flex-col gap-5 mt-10">
            <label class="input input-bordered flex items-center gap-2 shadow-md">
              <i class="fa-solid fa-user"></i>
              <input type="text" class="grow" placeholder="First Name" />
            </label>

            <label class="input input-bordered flex items-center gap-2 shadow-md">
              <i class="fa-solid fa-user"></i>
              <input type="text" class="grow" placeholder="Last Name" />
            </label>

            <label class="input input-bordered flex items-center gap-2 shadow-md">
              <i class="fa-solid fa-envelope"></i>
              <input type="email" class="grow" placeholder="Email" />
            </label>

            <label class="input input-bordered flex items-center gap-2 shadow-md">
              <i class="fa-solid fa-mobile-screen"></i>
              <input type="phone" class="grow" placeholder="Phone" />
            </label>

            <label class="input input-bordered flex items-center gap-2 shadow-md">
              <i class="fa-solid fa-location-dot"></i>
              <input type="address" class="grow" placeholder="Location" />
            </label>

            <label class="input input-bordered flex items-center gap-2">
              <i class="fa-solid fa-turkish-lira-sign"></i>
              <input type="text" class="grow" placeholder="Turkish Lira" />
              <span>Monthly</span>
            </label>

            <label for="reason" class="block text-sm font-medium text-gray-700">
              Upload your CV
            </label>
            <input type="file"
              class="block w-full text-sm text-gray-500 file:mr-4 file:py-2 file:px-4 file:rounded file:border file:bg-gray-100 file:text-gray-700 hover:file:bg-gray-200" />

            <label for="reason" class="block text-sm font-medium text-gray-700">
              Cover Letter
            </label>
            <textarea class="textarea textarea-bordered" placeholder="Cover Letter"></textarea>

            <button class="btn bg-[#B561B0] hover:bg-[#B561B0] text-white">Apply Now</button>
          </div>
        </form>
      }
    </div>
  </div>

</div>