@model JobViewModel

@section FullWidthSection {
    <div class="flex flex-col justify-center items-center text-white h-[75vh] mb-20">
        <h2 class="text-[55px] font-medium">Join the Future of AI</h2>
        <h2 class="text-[55px] font-medium">We're Hiring!</h2>
        <p class="text-2xl">We're looking for great people to join our growing team.</p>
        <button class="btn btn-outline hover:bg-[#230939] text-white hover:text-white w-56 my-5">View Vacancies</button>

    </div>
}

<p class="my-3">
    At Tor.app, we're not just offering a job – we're inviting you to shape the future of AI. Working here means being
    part of a dynamic team that's pioneering solutions to simplify tasks, increase productivity, and drive connectivity.
</p>
<p>
    If you're looking for a workplace that values innovation, encourages collaboration, and offers opportunities for
    growth, Tor.app is the perfect workplace. <span class="font-medium">Join us, and let's revolutionize AI
        together.</span>
</p>

<div class="text-center mt-[110px]">
    <h2 class="text-[33px] text-black">Our Open Positions</h2>
    <div class="divider w-[330px] mx-auto before:bg-black after:bg-black"></div>
</div>


<div class="flex gap-6 my-[55px]">

    <div class="w-1/5">
        <ul class="menu rounded-md shadow-xl">
            <!-- Country / City -->
            <li>
                <details>
                    <summary class="text-xl">Country / City</summary>
                    <ol class="max-h-[300px] overflow-y-auto">
                        @foreach (var city in Model.Cities)
                        {
                            <li>
                                <label class="flex items-center cursor-pointer">
                                    <input type="checkbox" class="checkbox bg-[#343A40] checkbox-xs rounded-[5px]" />
                                    <span class="ml-2">@city.Name</span>
                                </label>
                            </li>
                        }
                    </ol>

                </details>
            </li>
            <div class="divider m-0"></div>
            <!-- Sector -->
            <li>
                <details>
                    <summary class="text-xl">Sector</summary>
                    <ol class="max-h-[300px] overflow-y-auto">
                        @foreach (var sector in Model.Categories)
                        {
                            <li>
                                <label class="flex items-center cursor-pointer">
                                    <input type="checkbox" class="checkbox bg-[#343A40] checkbox-xs rounded-[5px]" />
                                    <span class="ml-2">@sector.Name</span>
                                </label>
                            </li>
                        }
                    </ol>
                </details>
            </li>
            <div class="divider m-0"></div>
            <!-- Specialization -->
            <li>
                <details>
                    <summary class="text-xl">Specialization</summary>
                    <ol class="max-h-[300px] overflow-y-auto">
                        @foreach (var jobType in Model.JobTypes)
                        {
                            <li>
                                <label class="flex items-center cursor-pointer">
                                    <input type="checkbox" class="checkbox bg-[#343A40] checkbox-xs rounded-[5px]" />
                                    <span class="ml-2">@jobType.Type</span>
                                </label>
                            </li>
                        }
                    </ol>
                </details>
            </li>
            <div class="divider m-0"></div>
            <!-- Position Level -->
            <li>
                <details>
                    <summary class="text-xl">Position Level</summary>
                    <ol class="max-h-[300px] overflow-y-auto">
                        @foreach (var positionLevel in Model.PositionLevels)
                        {
                            <li>
                                <label class="flex items-center cursor-pointer">
                                    <input type="checkbox" class="checkbox bg-[#343A40] checkbox-xs rounded-[5px]" />
                                    <span class="ml-2">@positionLevel.Level</span>
                                </label>
                            </li>
                        }
                    </ol>
                </details>
            </li>
            <div class="divider m-0"></div>
            <!-- Job Type -->
            <li>
                <details>
                    <summary class="text-xl">Job Type</summary>
                    <ol class="max-h-[300px] overflow-y-auto">
                        @foreach (var jobType in Model.JobTypes)
                        {
                            <li>
                                <label class="flex items-center cursor-pointer">
                                    <input type="checkbox" class="checkbox bg-[#343A40] checkbox-xs rounded-[5px]" />
                                    <span class="ml-2">@jobType.Type</span>
                                </label>
                            </li>
                        }
                    </ol>
                </details>
            </li>
            <div class="divider m-0"></div>
            <!-- Remoto Options -->
            <li>
                <details>
                    <summary class="text-xl">Remoto Options</summary>
                    <ol class="max-h-[300px] overflow-y-auto">
                        @foreach (var remote in Model.RemoteOptions)
                        {
                            <li>
                                <label class="flex items-center cursor-pointer">
                                    <input type="checkbox" class="checkbox bg-[#343A40] checkbox-xs rounded-[5px]" />
                                    <span class="ml-2">@remote.Name</span>
                                </label>
                            </li>
                        }
                    </ol>
                </details>
            </li>
            <div class="divider m-0"></div>
            <button class="btn bg-[#230939] hover:bg-[#230939] text-white hover:text-white my-3">Apply</button>
        </ul>
    </div>

    <div class="w-4/5">
        <div class="grid xl:grid-cols-2 gap-6">
            @foreach (var job in Model.Jobs)
            {
                @if (job.IsActive)
                {
                    <a asp-controller="Jobs" asp-action="Details" asp-route-id="@job.Id">
                        <div class="rounded-md flex items-center shadow-xl p-10 space-x-5 h-full">
                            <div class="flex flex-col justify-center mt-auto gap-2">
                                <img src="~/img/job/1.webp" alt="@job.Title" class="rounded-md w-16" />
                                <span class="text-[13px] text-gray-700">@job.JobType?.Type</span>
                            </div>
                            <div class="flex flex-col flex-grow">
                                <div>
                                    <h2 class="text-lg font-medium m-0 p-0">@job.Title</h2>
                                </div>
                                <div>
                                    <span class="text-sm">@job.Employer?.CompanyName</span>
                                </div>
                                <div class="space-x-1">
                                    <span class="text-xs text-gray-500">@job.Location</span>
                                    <span>-</span>
                                    <span class="text-xs text-gray-500">@job.RemoteOption?.Name</span>
                                </div>
                            </div>
                            <div class="flex flex-col items-center justify-between h-full">

                                <div>
                                    @if (User.Identity!.IsAuthenticated)
                                    {
                                        @if (ViewBag.SavedJobIds != null && ((List<int>)ViewBag.SavedJobIds).Contains(job.Id))
                                        {
                                            <!-- Kayıtlı iş ilanı varsa, silme butonu göster -->
                                            <form asp-controller="SavedJobs" asp-action="DeleteSevedJobs" method="post">
                                                <input type="hidden" name="jobId" value="@job.Id" />
                                                <button type="submit">
                                                    <i class="fa-solid fa-bookmark"></i> <!-- Dolu ikon (Kayıtlı) -->
                                                </button>
                                            </form>
                                        }
                                        else
                                        {
                                            <!-- Kayıtlı değilse, kaydetme butonu göster -->
                                            <form asp-controller="SavedJobs" asp-action="CreateSavedJobs" method="post">
                                                <input type="hidden" name="jobId" value="@job.Id" />
                                                <button type="submit">
                                                    <i class="fa-regular fa-bookmark"></i> <!-- Boş ikon (Kaydedilmemiş) -->
                                                </button>
                                            </form>
                                        }
                                    }
                                </div>

                                <div>
                                    <span class="text-xs text-gray-500">@job.CreatedDate.ToString("dd.MM.yyyy")</span>
                                </div>
                            </div>

                        </div>
                    </a>
                }
            }
        </div>

        <div class="flex justify-center join my-[31px]">
            <button class="join-item btn">«</button>
            <button class="join-item btn">1</button>
            <button class="join-item btn btn-active">2</button>
            <button class="join-item btn">...</button>
            <button class="join-item btn">31</button>
            <button class="join-item btn">»</button>
        </div>
    </div>

</div>
